body {
  background: url('classic_bg_left.png') center/100% repeat-y;
  font-family: Arial, Helvetica, sans-serif;
}

.timer-box {
  background-color: #868490;
  margin: 10px 5px 0;
  padding: 5px;
}

.box-info {
  display: flex;
}

.box-header {
  margin-left: 10px;
  width: 60%;
}

h4, h5 {
  margin: 0;
}

.countdown {
  border: 2px solid green;
  color: white;
  font-size: 22px;
  font-weight: bold;
  height: 25px;
  margin-left: auto;
  text-align: center;
  width: 25px;
}
.countdown.warning {
  border: 2px solid yellow;
}
.countdown.panic {
  border: 2px solid red;
  color: red;
}

.progress-box {
  background: white;
  height: 20px;
  margin-top: 8px;
  width: 100%;
}

.progress-bar {
  background-color: green;
  height: 20px;
  width: 100%;
}
.progress-bar.warning {
  background-color: yellow;
}
.progress-bar.panic {
  background-color: red;
}

.spell {
  background-image: url('spell_icons.png');
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
}

.spell.boot {
  background-position: -40px 0;
}
.spell.eye {
  background-position: -80px 0;
}
.spell.hand {
  background-position: -120px 0;
}
.spell.mind {
  background-position: -160px 0;
}
.spell.shield {
  background-position: -200px -40px;
}