body {
  font-family: Arial, Helvetica, sans-serif;
}

.classic-ui {
  background: url('imgs/classic_bg_left.png') center/100% repeat-y;
}

.spell {
  background-image: url('imgs/spell_icons.png');
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
}

.spell.boot {
  background-position: -40px 0;
}
.spell.eye {
  background-position: -80px 0;
}
.spell.hand {
  background-position: -120px 0;
}
.spell.mind {
  background-position: -160px 0;
}
.spell.shield {
  background-position: -200px -40px;
}
.spell.leftArm {
  background-position: 0 -120px;
}
.spell.mountain {
  background-position: -200px -80px;
}